<form action='' method="post">
    <% if @table %>
        <input type='submit' name='reset' value='Reset Matches' />
    <% else %>
        <input type='submit' name='create' value='Create Matches' />
    <% end %>
</form>
<% if @table %>
    <h1>Current League Standings</h1>
    <table>
        <tr>
            <td>Pos:</td>
            <td>Name:</td>
            <td>Wins:</td>
            <td>Loses:</td>
        </tr>
        <% for x in (0...@table.length) %>
            <%= "<tr><td>#{x}</td><td>#{@table[x][0]}</td><td>#{@table[x][1]}</td><td>#{@table[x][2]}</td></tr>" %>
        <% end %>
    </table>

    <h1>Game Board</h1>
    <% for a in (0...@vs_board.length) %>
        <h2><%= @vs_board[a] %><%= "<form action='/play' method='post'><input type='hidden' name='h_a' value='#{@ids[a][:h_id]},#{@ids[a][:a_id]}' /><input type='submit' name='home' value='Home Won!' /><input type='submit' name='away' value='Away Won!' /></form>" if !@played[a] %></h2>
            <!-- <%= "<button onClick=\"window.location.href='../play/#{@ids[a][:h_id]}/#{@ids[a][:a_id]}/#{@ids[a][:h_id]}'\">Home Won!</button><button onClick=\"window.location.href='../play/#{@ids[a][:h_id]}/#{@ids[a][:a_id]}/#{@ids[a][:a_id]}'\">Away Won!</button>" if !@played[a] %></h2> -->
    <% end %>

<% else %>
    <h2>There are currenlty no matches.</h2>
<% end %>

<!-- <form action='/play' method="post">
    <table>
        <tr>
            <td>1:</td>
            <td><input name='one' placeholder="one" /></td>
        </tr>
        <tr colspan=2>

            <td><input type="submit" value="Go" /></td>
        </tr>
    </table>
</form> -->
